<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="cnxAeropuerto" value="Server=LAPTOP-7BPJEHD0;Database=Aeropuerto;Integrated Security=true" />-->
    <add key="cnxAeropuerto" value="Server=LAPTOP-7BPJEHD0;Database=Aeropuerto;uid=sa;password=rejFXJ4p;"/>
  </appSettings>
</configuration>