USE master
GO

SET NOCOUNT ON

CREATE DATABASE Aeropuerto
ON
( NAME = Aeropuerto_dat,  
    FILENAME = 'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Aeropuertodat.mdf',
    SIZE = 10,
    MAXSIZE = 100,
    FILEGROWTH = 5
)
LOG ON
( NAME = Aeropuerto_log,
    FILENAME = 'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Aeropuertolog.ldf',
    SIZE = 5MB,
    MAXSIZE = 50MB,
    FILEGROWTH = 5MB
)
GO 

USE Aeropuerto
GO

CREATE TABLE Aeropuerto(
  IdAeropuerto INT IDENTITY(1,1) NOT NULL,
  NombreAeropuerto VARCHAR(30) NOT NULL,
  CiudadAeropuerto VARCHAR(30) NOT NULL,
  PaisAeropuerto VARCHAR(30) NOT NULL
)

CREATE TABLE Avion(
  IdAvion INT IDENTITY(1,1) NOT NULL,
  FabricanteAvion VARCHAR(30) NOT NULL,
  ModeloAvion VARCHAR(30) NOT NULL,
  NumeroPasajerosAvion INT NOT NULL
)

CREATE TABLE CategoriaTrabajador(
  IdCategoriaTrabajador INT IDENTITY(1,1) NOT NULL,
  DescripcionCategoriaTrabajador VARCHAR(50) NOT NULL
)

CREATE TABLE Pasajero(
  IdPasajero INT IDENTITY(1,1) NOT NULL,
  DniPasajero INT NOT NULL,
  NombrePasajero VARCHAR(50) NOT NULL
)

CREATE TABLE Reservas(
  IdReservas INT IDENTITY(1,1) NOT NULL,
  Fecha DATETIME NULL,
  Monto DECIMAL(18, 2) NULL,
  IdCliente INT NULL
)

CREATE TABLE Rol(
  IdRol INT IDENTITY(1,1) NOT NULL,
  DescripcionRol VARCHAR(30) NULL
)

CREATE TABLE Seguridad(
  CodigoUsuario VARCHAR(20) NULL,
  Clave VARCHAR(20) NULL
)

CREATE TABLE Trabajador(
  IdTrabajador INT IDENTITY(1,1) NOT NULL,
  NombreTrabajador VARCHAR(50) NOT NULL,
  IdCategoriaTrabajador INT NOT NULL
)

CREATE TABLE Usuario(
  CodigoUsuario VARCHAR(20) NOT NULL,
  Nombres VARCHAR(100) NULL,
  Apellidos VARCHAR(100) NULL,
  Correo VARCHAR(100) NULL,
  IdRol INT NULL,
  IdTrabajador int NULL
)

CREATE TABLE Vuelo(
  IdVuelo INT IDENTITY(1,1) NOT NULL,
  IdAeropuertoOrigen INT NULL,
  IdAeropuertoDestino INT NULL,
  IdAvion INT NULL,
  Fecha DATETIME NULL,
  Precio DECIMAL(18, 2) NULL
)

CREATE TABLE Vuelo_Pasajero(
  IdVuelo INT NULL,
  IdPasajero INT NULL,
  NumeroAsiento INT NOT NULL,
  IdReserva INT NOT NULL
)

CREATE TABLE Vuelo_Trabajador(
  IdVuelo INT NULL,
  IdTrabajador INT NULL
)

ALTER TABLE Aeropuerto 
ADD CONSTRAINT PK_Aeropuerto PRIMARY KEY (IdAeropuerto)
GO

ALTER TABLE Avion 
ADD CONSTRAINT PK_Avion PRIMARY KEY (IdAvion)
GO

ALTER TABLE CategoriaTrabajador 
ADD CONSTRAINT PK_CategoriaTrabajador PRIMARY KEY (IdCategoriaTrabajador)
GO

ALTER TABLE Pasajero
ADD CONSTRAINT PK_Pasajero PRIMARY KEY (IdPasajero)
GO

ALTER TABLE Reservas
ADD CONSTRAINT PK_Reservas PRIMARY KEY (IdReservas)
GO

ALTER TABLE Rol
ADD CONSTRAINT PK_Rol PRIMARY KEY (IdRol)
GO

ALTER TABLE Trabajador
ADD CONSTRAINT PK_Trabajador PRIMARY KEY (IdTrabajador)
GO

ALTER TABLE Usuario
ADD CONSTRAINT PK_Usuario PRIMARY KEY (CodigoUsuario)
GO

ALTER TABLE Vuelo
ADD CONSTRAINT PK_Vuelo PRIMARY KEY (IdVuelo)
GO

SET IDENTITY_INSERT dbo.Aeropuerto ON 
INSERT dbo.Aeropuerto (IdAeropuerto, NombreAeropuerto, CiudadAeropuerto, PaisAeropuerto) VALUES (1, N'Jorge Chavez', N'Lima', N'Peru')
INSERT dbo.Aeropuerto (IdAeropuerto, NombreAeropuerto, CiudadAeropuerto, PaisAeropuerto) VALUES (2, N'Barra de Colorado', N'Miami', N'EstadoUnidos')
INSERT dbo.Aeropuerto (IdAeropuerto, NombreAeropuerto, CiudadAeropuerto, PaisAeropuerto) VALUES (3, N'Gustavo Rizo', N'Nueva Baracoa', N'Cuba')
SET IDENTITY_INSERT dbo.Aeropuerto OFF

SET IDENTITY_INSERT dbo.Avion ON 
INSERT dbo.Avion (IdAvion, FabricanteAvion, ModeloAvion, NumeroPasajerosAvion) VALUES (1, N'Orion', N'Orion_777', 168)
INSERT dbo.Avion (IdAvion, FabricanteAvion, ModeloAvion, NumeroPasajerosAvion) VALUES (2, N'El rapido', N'Rapid_AD2', 168)
INSERT dbo.Avion (IdAvion, FabricanteAvion, ModeloAvion, NumeroPasajerosAvion) VALUES (3, N'Metropolitano', N'Met_737', 168)
SET IDENTITY_INSERT dbo.Avion OFF

SET IDENTITY_INSERT dbo.CategoriaTrabajador ON 
INSERT dbo.CategoriaTrabajador (IdCategoriaTrabajador, DescripcionCategoriaTrabajador) VALUES (1, N'Piloto')
INSERT dbo.CategoriaTrabajador (IdCategoriaTrabajador, DescripcionCategoriaTrabajador) VALUES (2, N'Copiloto')
INSERT dbo.CategoriaTrabajador (IdCategoriaTrabajador, DescripcionCategoriaTrabajador) VALUES (3, N'Aeromoza')
SET IDENTITY_INSERT dbo.CategoriaTrabajador OFF

SET IDENTITY_INSERT dbo.Pasajero ON 
INSERT dbo.Pasajero (IdPasajero, DniPasajero, NombrePasajero) VALUES (1, 71837940, N'Kelly Baldeon Espinoza')
INSERT dbo.Pasajero (IdPasajero, DniPasajero, NombrePasajero) VALUES (2, 83717939, N'Nielsen Arevalo Marreros')
INSERT dbo.Pasajero (IdPasajero, DniPasajero, NombrePasajero) VALUES (3, 99837940, N'Fernando Alva Alvarado')
SET IDENTITY_INSERT dbo.Pasajero OFF

SET IDENTITY_INSERT dbo.reservas ON 
INSERT dbo.reservas (idReservas, fecha, monto, IdCliente) VALUES (1, CAST(N'2018-10-08 19:16:27.663' AS DateTime), CAST(100.00 AS Decimal(18, 2)), 1)
INSERT dbo.reservas (idReservas, fecha, monto, IdCliente) VALUES (2, CAST(N'2018-10-08 20:13:43.230' AS DateTime), CAST(300.00 AS Decimal(18, 2)), 3)
INSERT dbo.reservas (idReservas, fecha, monto, IdCliente) VALUES (3, CAST(N'2018-10-08 20:13:43.273' AS DateTime), CAST(300.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT dbo.reservas OFF

SET IDENTITY_INSERT dbo.Rol ON 
INSERT dbo.Rol (IdRol, DescripcionRol) VALUES (1, N'Administrador')
INSERT dbo.Rol (IdRol, DescripcionRol) VALUES (2, N'Trabajador')
INSERT dbo.Rol (IdRol, DescripcionRol) VALUES (3, N'Usuario')
SET IDENTITY_INSERT dbo.Rol OFF

INSERT dbo.Seguridad (CodigoUsuario, Clave) VALUES (N'FAlvaA', N'Octubre2018.')
INSERT dbo.Seguridad (CodigoUsuario, Clave) VALUES (N'BAlvaC', N'Agosto2018.')
INSERT dbo.Seguridad (CodigoUsuario, Clave) VALUES (N'GGuevaraF', N'Julio2018.')

SET IDENTITY_INSERT dbo.Trabajador ON 
INSERT dbo.Trabajador (IdTrabajador, NombreTrabajador, IdCategoriaTrabajador) VALUES (1, N'Luis Moran Apaza', 1)
INSERT dbo.Trabajador (IdTrabajador, NombreTrabajador, IdCategoriaTrabajador) VALUES (2, N'Miguel Gutierrez Marcos', 2)
INSERT dbo.Trabajador (IdTrabajador, NombreTrabajador, IdCategoriaTrabajador) VALUES (3, N'Gabriela Guevara Farfan', 3)
SET IDENTITY_INSERT dbo.Trabajador OFF

INSERT dbo.Usuario (CodigoUsuario, Nombres, Apellidos, Correo, IdRol, IdTrabajador) VALUES (N'BAlvaC', N'Bryanna', N'Alva Cabrera', NULL, 3, NULL)
INSERT dbo.Usuario (CodigoUsuario, Nombres, Apellidos, Correo, IdRol, IdTrabajador) VALUES (N'FAlvaA', N'Fernando', N'Alva Alvarado', NULL, 1, NULL)
INSERT dbo.Usuario (CodigoUsuario, Nombres, Apellidos, Correo, IdRol, IdTrabajador) VALUES (N'GGuevaraF', N'Gabriela', N'Guevara Farfan', NULL, 2, 3)

SET IDENTITY_INSERT dbo.Vuelo ON 
INSERT dbo.Vuelo (IdVuelo, IdAeropuertoOrigen, IdAeropuertoDestino, IdAvion, Fecha, Precio) VALUES (1, 1, 1, 2, CAST(N'2018-11-12 00:00:00.000' AS DateTime), CAST(100.00 AS Decimal(18, 2)))
INSERT dbo.Vuelo (IdVuelo, IdAeropuertoOrigen, IdAeropuertoDestino, IdAvion, Fecha, Precio) VALUES (2, 2, 3, 5, CAST(N'2018-11-15 00:00:00.000' AS DateTime), CAST(100.00 AS Decimal(18, 2)))
INSERT dbo.Vuelo (IdVuelo, IdAeropuertoOrigen, IdAeropuertoDestino, IdAvion, Fecha, Precio) VALUES (3, 3, 2, 3, CAST(N'2018-11-13 00:00:00.000' AS DateTime), CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT dbo.Vuelo OFF

INSERT dbo.Vuelo_Pasajero (IdVuelo, IdPasajero, NumeroAsiento, IdReserva) VALUES (1, 1, 10, 1)
INSERT dbo.Vuelo_Pasajero (IdVuelo, IdPasajero, NumeroAsiento, IdReserva) VALUES (1, 2, 15, 1)
INSERT dbo.Vuelo_Pasajero (IdVuelo, IdPasajero, NumeroAsiento, IdReserva) VALUES (1, 4, 20, 1)
GO

INSERT dbo.Vuelo_Trabajador (IdVuelo, IdTrabajador) VALUES (1, 1)
INSERT dbo.Vuelo_Trabajador (IdVuelo, IdTrabajador) VALUES (1, 2)
INSERT dbo.Vuelo_Trabajador (IdVuelo, IdTrabajador) VALUES (1, 3)
GO

ALTER TABLE dbo.Reservas  WITH CHECK 
ADD CONSTRAINT FK_BJBB59F4 FOREIGN KEY(IdCliente) REFERENCES dbo.Pasajero (IdPasajero)
GO

ALTER TABLE dbo.Reservas CHECK CONSTRAINT FK_BJBB59F4
GO

ALTER TABLE dbo.Seguridad  WITH CHECK 
ADD CONSTRAINT FK_5432A368 FOREIGN KEY(CodigoUsuario) REFERENCES dbo.Usuario (CodigoUsuario)
GO

ALTER TABLE dbo.Seguridad CHECK CONSTRAINT FK_5432A368
GO

ALTER TABLE dbo.Trabajador  WITH CHECK 
ADD CONSTRAINT FK_6983FB24 FOREIGN KEY(IdCategoriaTrabajador) REFERENCES dbo.CategoriaTrabajador (IdCategoriaTrabajador)
GO

ALTER TABLE dbo.Trabajador CHECK CONSTRAINT FK_6983FB24
GO

ALTER TABLE dbo.Usuario  WITH CHECK 
ADD CONSTRAINT FK_02AL142F FOREIGN KEY(IdRol) REFERENCES dbo.Rol (IdRol)
GO

ALTER TABLE dbo.Usuario CHECK CONSTRAINT FK_02AL142F
GO

ALTER TABLE dbo.Usuario  WITH CHECK 
ADD CONSTRAINT FK_853225JJ FOREIGN KEY(IdTrabajador) REFERENCES dbo.Trabajador (IdTrabajador)
GO

ALTER TABLE dbo.Usuario CHECK CONSTRAINT FK_853225JJ
GO

ALTER TABLE dbo.Vuelo  WITH CHECK 
ADD CONSTRAINT FK_B4548532 FOREIGN KEY(IdAeropuertoOrigen) REFERENCES dbo.Aeropuerto (IdAeropuerto)
GO

ALTER TABLE dbo.Vuelo CHECK CONSTRAINT FK_B4548532
GO

ALTER TABLE dbo.Vuelo  WITH CHECK 
ADD CONSTRAINT FK_62383909 FOREIGN KEY(IdAeropuertoDestino) REFERENCES dbo.Aeropuerto (IdAeropuerto)
GO

ALTER TABLE dbo.Vuelo CHECK CONSTRAINT FK_62383909
GO

ALTER TABLE dbo.Vuelo  WITH CHECK 
ADD CONSTRAINT FK_46A2J4A2 FOREIGN KEY(IdAvion) REFERENCES dbo.Avion (IdAvion)
GO

ALTER TABLE dbo.Vuelo CHECK CONSTRAINT FK_46A2J4A2
GO

ALTER TABLE dbo.Vuelo_Pasajero  WITH CHECK 
ADD CONSTRAINT FK_54JA4A7A FOREIGN KEY(IdPasajero) REFERENCES dbo.Pasajero (IdPasajero)
GO

ALTER TABLE dbo.Vuelo_Pasajero CHECK CONSTRAINT FK_54JA4A7A
GO

ALTER TABLE dbo.Vuelo_Pasajero  WITH CHECK 
ADD CONSTRAINT FK_B54FA137 FOREIGN KEY(IdVuelo) REFERENCES dbo.Vuelo (IdVuelo)
GO

ALTER TABLE dbo.Vuelo_Pasajero CHECK CONSTRAINT FK_B54FA137
GO

ALTER TABLE dbo.Vuelo_Trabajador  WITH CHECK 
ADD CONSTRAINT FK_A7958J49 FOREIGN KEY(IdTrabajador) REFERENCES dbo.Trabajador (IdTrabajador)
GO

ALTER TABLE dbo.Vuelo_Trabajador CHECK CONSTRAINT FK_A7958J49
GO

ALTER TABLE dbo.Vuelo_Trabajador  WITH CHECK 
ADD CONSTRAINT FK_210A1843 FOREIGN KEY(IdVuelo) REFERENCES dbo.Vuelo (IdVuelo)
GO

ALTER TABLE dbo.Vuelo_Trabajador CHECK CONSTRAINT FK_210A1843
GO

SET NOCOUNT OFF